@use "./variables" as *;

//шрифты
@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Regular.woff2") format("woff2"),
    url("./fonts/Satoshi-Regular.woff") format("woff"),
    url("./fonts/Satoshi-Regular.ttf") format("truetype"),
    url("./fonts/Satoshi-Regular.eot") format("embedded-opentype");
}

@font-face {
  font-family: "Clash Display";
  src: url("./fonts/ClashDisplay-Regular.woff2") format("woff2"),
    url("./fonts/ClashDisplay-Regular.woff") format("woff"),
    url("./fonts/ClashDisplay-Regular.ttf") format("truetype"),
    url("./fonts/ClashDisplay-Regular.eot") format("embedded-opentype");
}

html {
  font-size: 10px;
}

body {
  font-family: "Satoshi", sans-serif;
  color: $fontColor;
}

.container {
  margin: 0 auto;
  max-width: 131rem;
  padding: 0 1.5rem;
}

//HEADER
.header {
  padding: 2rem 0;

  &__up {
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  &__cart,
  &__user {
    @include buttonImage;
  }

  &__user {
    opacity: 0.5;
  }

  &__logo {
    @include title(2.4rem, $fontColorLogo);
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
}

.search {
  position: relative;
  &__img {
    @include buttonImage;
    position: relative;
  }

  &__block {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }

  &__input {
    @include input($fontColorLight, $fontColor);
    border: 1px solid $fontColorMenu;
  }
  &__btn {
    @include button(8.8rem, $fontColor, $fontColorLight);
    padding: 0 1rem;
    height: 3.6rem;
  }
}

.menu {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.4rem;
  }

  &__link {
    font-size: 1.6rem;
    line-height: 100%;
    color: $fontColorMenu;
    transition: all 0.5s ease;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__up {
      flex-wrap: wrap;
    }
    &__search {
      order: 2;
      flex: 0 1 100%;
    }
    &__cart,
    &__user {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}

@media (max-width: 480px) {
  .header {
    &__info {
      margin-right: 4rem;
    }
  }
  .menu {
    &__list {
      display: none;
      &_active {
        position: absolute;
        z-index: 7;
        top: 0;
        left: 0;
        display: block;
        overflow: auto;
        background-color: $fontColor;
        width: 100vw;
        height: 100vh;
        padding-top: 10rem;
        text-align: center;
        transition: all 1s ease;
        .menu__item {
          &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 4rem;
          }
        }
        .menu__link {
          font-size: 2.5rem;
          color: $fontColorLight;
        }
      }
    }

    &__burger {
      @include burger(2.6rem, 1rem);

      &::before,
      &::after {
        background-color: $fontColor;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }

      &_active {
        @include burger(4rem, 2rem);
        z-index: 8;
        &::before {
          background-color: $fontColorLight;
          transform: rotate(45deg);
        }
        &::after {
          background-color: $fontColorLight;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .search {
    &__btn {
      width: 6.5rem;
    }
  }
}

//FOOTER
.footer {
  padding: 5.8rem 0 2.5rem;
  background-color: $fontColor;
  color: $fontColorLight;
  font-size: 1.4rem;
  &__title {
    @include title(1.6rem, $fontColorLight);
  }
}

.up-footer {
  padding-bottom: 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  border-bottom: 0.1rem solid $borderColorFooter;
  &__address {
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-style: normal;
  }
  &__menu {
    flex: 0 1 25%;
  }
  &__sign-up {
    flex: 0 1 50%;
  }
}

.menu-footer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  &__link {
    color: $fontColorLight;
    transition: all 0.5s ease;
    &:hover {
      text-decoration: underline;
    }
  }
}

.sign-up-footer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  &__block {
    display: flex;
  }
  &__input {
    @include input($backgroundColorInputDark, $fontColorLight);
    padding: 1.7rem 3.2rem;
    width: 80%;
  }
  &__btn {
    @include button(11.8rem, $fontColorLight, $fontColor);
  }
}

.down-footer {
  padding-top: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.social {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

@media (max-width: 768px) {
  .up-footer {
    &__address {
      flex: 0 1 25%;
    }
    &__menu {
      flex: 0 1 15%;
    }
    &__sign-up {
      flex: 0 1 60%;
    }
  }
  .sign-up-footer {
    &__input {
      padding: 0 1rem;
    }
    &__btn {
      height: 4rem;
    }
  }
}

@media (max-width: 480px) {
  .up-footer {
    flex-wrap: wrap;
    &__address,
    &__menu {
      flex: 0 1 40%;
    }
    &__sign-up {
      flex: 0 1 100%;
    }
  }
  .down-footer {
    flex-wrap: wrap;
  }
}

//HOMEPAGE
.products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
}

.card-products {
	&__img {
		margin-bottom: 2.4rem;
		display: block;
		width: 100%;
		min-height: 37.5rem;
		object-fit: cover;
		object-position: center
	}

	&__title {
		@include title(2rem);
		margin-bottom: 0.8rem;
	}

	&__price {
		font-size: 1.8rem;
		line-height: 150%;
	}
}

@media (max-width: 1280px) {
	.card-products {
		&__img {
			min-height: 25rem;
		}
	}
}


@media (max-width: 768px) {
	.products {
		grid-template-columns: repeat(2, 1fr);
	}
	.card-products {
		&__img {
			min-height: 20rem;
		}
	}
}

@media (max-width: 480px) {
	.products {
		grid-template-columns: 1fr;
		gap: 3rem;
	}
}
//Hero
.hero {
  position: relative;
  height: 70.4rem;

  &__info {
    position: absolute;
    bottom: 13rem;
    right: 8rem;
    padding: 4.6rem 5.6rem;
    max-width: 63rem;
    height: 44.4rem;
    background-color: $fontColorLight;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    @include title(3.2rem, $fontColorLogo);
    margin-bottom: 2rem;
  }
  &__text {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: $fontColorGrey;
  }
  &__button {
    @include button(17rem, $backgroundColorInputLight, $fontColor);
  }
  &__img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

@media (max-width: 1024px) {
  .hero {
    &__info {
      bottom: 10rem;
      right: 2rem;
      max-width: 50rem;
      height: 30rem;
      padding: 3rem 2rem;
    }
  }
}

@media (max-width: 768px) {
  .hero {
    height: 60rem;
    &__info {
      max-width: 40rem;
      height: auto;
    }
    &__title {
      font-size: 2.6rem;
    }
    &__text {
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 600px) {
  .hero {
    height: auto;
    &__info {
      position: static;
      max-width: 100%;
      padding-top: 0;
    }
  }
}

//Brend
.brand {
	padding: 8rem 0 4rem;

	&__title {
		@include title(2.4rem);
		margin-bottom: 3.6rem;
		text-align: center;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 2.2rem;
	}
}

.card-brand {
	padding: 4.8rem;
	background-color: $backgroundColorInputLight;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__img {
		display: block;
		max-width: 2.4rem;
		margin-bottom: 1.2rem;
	}
	
	&__title {
		@include title(2rem);
		margin-bottom: 1.2rem;
		
	}

	&__text {
		font-size: 1.6rem;
		line-height: 150%;
	}
}

@media (max-width: 1024px) {
	.brand {
		&__items {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media (max-width: 768px) {
	.card-brand {
		padding: 2rem;
	}
}

@media (max-width: 620px) {
	.brand {
		padding: 4.8rem 0 4rem;
		&__items {
			grid-template-columns: 1fr;
		}
	}
	
	.card-brand {
		padding: 4.8rem;
	}
}

@media (max-width: 375px) {
	.brand {
		&__title {
			@include title(2rem);
		}
		&__items {
			gap: 2.6rem;
		}
	}

	.card-brand {
		padding: 3.6rem;
	}
}

//HomePageProducts
.products-container {
	padding: 4rem 1.5rem;

	&__button {
		@include button(17rem, $backgroundColorInputLight, $fontColor);
		margin: 6.4rem auto 0;
	}
}